<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
</head>
<body>
<a href="/todo/new">Add new todo</a>
<a href="/todo/assignee/">List of assignee</a>
<label>Search To-do's</label>
<form action="/todo/search" method="POST">
    <input type="text" name="text" placeholder="find by keyword">
    <button>Search</button>
</form>
<table border="1">
    <tr>
        <th>Created At</th>
        <th>Due Date</th>
        <th>ID</th>
        <th>Description</th>
        <th>Assignee First Name</th>
        <th>Assignee Last Name</th>
        <th>Assignee e-mail address</th>
        <th>Urgent</th>
        <th>Done</th>
        <th>Delete item</th>
        <th>Edit item</th>
    </tr>
    <tr th:each="todo : ${todos}" >
        <td th:text="${#dates.format(todo.getCreatedAt(), 'dd-MM-YYY')}"></td>
        <td th:text="${#dates.format(todo.getDueDate(), 'dd-MM-YYY')}"></td>
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td>
            <a th:text="${todo.assignee} ? ${todo.getAssignee().getFirstName()}"
               th:href="${todo.assignee} ? @{/todo/assignee/assigneetodo/{id}(id=${todo.assignee.getId()})}">
            </a>
        </td>
        <td th:text="${todo.assignee} ? ${todo.getAssignee().getLastName()} : ''"></td>
        <td th:text="${todo.assignee} ? ${todo.getAssignee().getEmail()} : ''"></td>
        <td th:text="${todo.getIsUrgent()}"></td>
        <td th:text="${todo.getIsDone()}"></td>
        <td>
            <a th:href="@{'/todo/' + ${todo.id} + '/delete'}">delete</a>
        </td>
        <td>
            <a th:href="@{'/todo/' + ${todo.id} + '/edit'}">edit</a>
        </td>
    </tr>
</table>
</body>
</html>
