<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
</head>
<body>
<a href="/todo/new">add new todo</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Urgent</th>
        <th>Done</th>
        <th>Delete item</th>
    </tr>
    <tr th:each="todo : ${todos}" >
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td>
            <a th:href="@{'/todo/' + ${todo.id} + '/delete'}">delete</a>
        </td>
    </tr>
</table>
</body>
</html>
