html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 150px;
    background-color: #eee;
}

main img {
    height: 200px;
    width: auto;
    margin: 0 auto;
    border: 1px solid #666;
}
