<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>table</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
</head>
<body>

<table>
    <tr>
        <th>Name</th>
        <th>Animal type</th>
        <th>Balance</th>
        <th>Index</th>
        <th>isKing</th>
        <th>Good or bad</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.getName()}"></td>
        <td th:text="${account.getAnimalType()}"></td>
        <td th:text="${account.getBalance()}"></td>
        <td th:text="${accountStat.index}"></td>
        <td id="king" th:if="${account.getIsKing()}" th:text="'DA KIIIIING'"></td>
        <td th:unless="${account.getIsKing()}" th:text="''"></td>
        <td th:if="${account.getMotives()}" th:text="'Good One'"></td>
        <td th:unless="${account.getMotives()}" th:text="'Bad Guy'"></td>



    </tr>
</table>

</body>
</html>
