<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<a href="/submit">Submit new post</a>
<h1>Trending posts</h1>
<table>
    <tr th:each="item : ${list}">
        <td th:text="${#dates.format(item.date, 'YYYY-MM-DD')}"></td>
        <td th:text="${item.voteCounter}"></td>
        <td>
            <a th:href="@{/upvote/{id}(id=${item.id})}">+</a>
        </td>
        <td>
            <a th:href="@{/downvote/{id}(id=${item.id})}">-</a>
        </td>
        <td>
            <a th:href="@{${item.url}}" th:text="${item.title}"></a>
        </td>
    </tr>
</table>
</body>
</html>
