body{
    font-family: Arial, Helvetica, sans-serif;
    color: #757474;
    font-size: 8px;
    background-color: darkgray;
}

.box {
    background-color: white;
    width: fit-content;
    padding: 50px;
}

input, label {
    display: block;
}

input {
    height: 30px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

label {
    margin-top: 25px;
}

a {
    float: right;
}

button {
    background-color: rgb(47, 48, 47);
    border-radius: 40px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    height: 40px;  
    width: 80px;
    margin-top: 50px;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.8;
}

input:focus {
    outline: none;
    border: 1px solid green;
    box-shadow: 0 0 10px #719ECE;
}