<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <img src="oszapo.jpg" alt="oszapo">
    <p th:text="'This is ' + ${pet.name} + ' currently living on ' + ${pet.drink.drink} + ' and ' + ${pet.food.food} + '. He knows 2 tricks.'"></p>
    <h1>Known tricks</h1>
    <ul>
        <li>write html</li>
        <li>code in Java</li>
    </ul>
    <form th:action="@{/nutrition}" th:object="${pet}" method="GET">
        <input type="hidden" th:field="${pet.name}">
        <button>feed me!</button>
    </form>
    </body>
</html>
