<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
<form th:action="@{/nutrition}" th:object="${petToFeed}" method="POST" >
    <select th:field="*{food}">
        <option th:each="food : ${foodList}" th:text="${food.foodName}" th:value="${food.id}"></option>
    </select>
    <select th:field="*{drink}">
        <option th:each="drink : ${drinkList}" th:text="${drink.drink}" th:value="${drink.id}"></option>
    </select>
    <input type="hidden" th:field="${petToFeed.id}">
    <input type="hidden" th:field="${petToFeed.name}">
    <button>Submit</button>
</form>
<form th:action="@{/newfood/{petname}(petname=${param.name})}" method="POST" th:object="${newfood}">
    New foodName:<input type="text" th:field="*{foodName}">
    <button>Add new foodName to menu</button>
</form>
<form th:action="@{/newdrink/{petname}(petname=${param.name})}" method="POST" th:object="${newdrink}">
    New drink:<input type="text" th:field="*{drink}">
    <button>Add new drink to menu</button>
</form>
</body>
</html>
