<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
<form th:action="@{/nutrition}" th:object="${petToFeed}" method="GET">
    <select th:field="*{food}">
        <option th:each="food : ${foodList}" th:text="${food.food}" th:value="${food.id}"></option>
    </select>
    <select th:field="*{drink}">
        <option th:each="drink : ${drinkList}" th:text="${drink.drink}" th:value="${drink.id}"></option>
    </select>
    <button>Feed me!</button>
</form>
</body>
</html>
