@import url('https://fonts.googleapis.com/css?family=Merriweather');

h1,
h2,
h3{
    font-family: 'Merriweather', serif;
}
body {
    margin: 0;
    background-image: url("topography.png");
    font-family: consolas, courier;
}

nav{
    background-color: #333333;
    padding: 2%;
}
a,
.subtitle {
    color: #ff0099;
}
.hash{
    text-align: center;
    padding: 5%;
}
.ezaszoveg{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}
.linkek{
    display: inline;
    position: absolute;
    right: 10%;
}
.linkek a{
margin-left: 30px;
}
.kep{
    display: inline; */
    width: 22px;
    padding-left: 10%;
}