<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<form action="/useful/colored">
    <button type="submit">Disco</button>
</form>
<form method="get" action="/useful/email">
    <input type="text" name="email" placeholder="email"/>
    <button type="submit">Validate email</button>
</form>

<form method="get" action="/useful/ceasar">
    <input type="text" name="word" placeholder="enter a word">
    <input type="number" name="number" placeholder="0">
    <button type="submit" value="encode" name="command">Encode</button>
    <button type="submit" value="decode" name="command">Decode</button>
</form>
</body>
</html>
